.titulo {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: black;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
    color: rgb(112, 0, 0)
}

h4 {
    font-size: 18px;
    color: rgb(0, 112, 0)
}

li {
    padding: 10px;
    font-size: 16px;
    list-style-type: disc;
    list-style-position: inside;
}

p {
    font-size: 18px;
    padding: 10px;
    z-index: 1;
}

dd {
    padding-left: 50px;
}

.card {
    background: transparent;
    border: transparent;
}

.accordion-item {
    background-color: #FFF8DC;
    width: 80%;
}

#navbar-example3 {
    width: 200px;
    left: 0px;
    background-color: #FFF8DC;
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
}

#navbar-example3 a:hover {
    background: rgb(243, 211, 151);
}

#historia {
    background-image: 'assets/backgroud.png';
    background-color: #FFF8DC;
    z-index: 1;
    padding-top: 20px;
}

#principal {
    padding: 20px;
    padding-left: 75px;
    margin: auto;
    margin-right: 0;
}